/* custom styles */

.top{
text-align:center;
}

.about, .contact{
	display:inline-block;
	padding: 5px;
	text-align:center;
}

.both{
	text-align:center;
}

ul{
	list-style-type:none;
}

html{
	background-image: url("http://static3.businessinsider.com/image/51d31170eab8ea101b000001/san-francisco-is-americas-snobbiest-city-according-to-the-rest-of-the-country.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{

}